<form class="example-form">
  <br>
  <h2> Log In </h2>
  <div>
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
      <mat-hint>Please enter your Email</mat-hint>
    </mat-form-field>
  </div>
  <div class = "error" *ngIf = "email == null">
    {{required}}
  </div>
  <div class="error" *ngIf="code == 'auth/invalid-email'">
    {{message}}
  </div>
  <div class="error" *ngIf="code == 'auth/user-not-found'">
    {{message}}
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "password" name = "password" matInput placeholder="Password">
      <mat-hint>Please enter your password</mat-hint>
    </mat-form-field>
  </div>
  <div class = "error" *ngIf = "password == null">
    {{required}}
  </div>
  <div class="error" *ngIf="code == 'auth/wrong-password'">
    {{message}}
  </div>
  <br>
  <button mat-stroked-button (click)="login()">
    Log In
  </button>
</form>