<mat-card class="example-card">
  <mat-card-content>
    <button (click) = "toSignUp()">
      Sign Up
    </button>-
    <button (click) = "toLogin()" *ngIf="!(authService.user | async)">
      Login
    </button>-
    <button (click) = "toWelcome()">
      Welcome
    </button>-
    <button (click) = "logOut()" *ngIf="authService.user | async">
      Log Out
    </button>
  </mat-card-content>
</mat-card>