<div *ngIf="authService.user | async">
  <h1>Welcome {{(authService.user | async)?.displayName }}!</h1>
</div>

<mat-form-field class="example-full-width">
  <input [(ngModel)] = "todo" name = "todo" matInput placeholder="Task">
</mat-form-field>
<div>
  <button mat-stroked-button (click) = "addTodo()">Add Task</button>
</div>
<br>
<!-- <div>
  <button (click) = "showMyTasks()">Show My Tasks</button>
</div>
<div *ngIf = "show">
  {{todos}}
</div> -->